:root{
    --haupt-color: #212121;
    --secod-color: #757575;
    --white-color: #FFFFFF;
    --white-color-trans: rgba(255, 255, 255, 0.6);
    --akcent-color: #2196f3;
    --footer-background: #2F303A;
    --section-background: #f5f4fa;
    --akcent-font: 'Raleway',sans-serif;
}
body {
    font-family: 'Roboto', 'Raleway',
    sans-serif;
    background-color: var(--white-color);
    color: var(--haupt-color);
}
.section .title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid teal;
}
.padding{
    padding: 94px 0;
}
/* ==============HEDER ==================*/
.logo{
  font-family: var(--akcent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
}
.logo-akcent{
    color: var(--akcent-color);
}
.nav-link,
.contakt-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contakt-link{
    color: var(--secod-color);
}
.nav-link:hover,
.nav-link:focus,
.contakt-link:hover,
.contakt-link:focus,
.addres-list .link:hover,
.addres-list .link:focus, .activ{
    color: var(--akcent-color);
}
/* ==============SECTION HERO============== */
.hero-background .container{
    padding: 200px 0;
    text-align: center;
}
.container > .hero-title{
    margin-top: 0;
    margin-bottom: 30px;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    color: #2196F3;
    text-transform: uppercase;
}
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 1.87;
    color: var(--white-color);
    background-color: var(--akcent-color);
    cursor: pointer;
    font-family: inherit;
    display: inline-block;
    border-radius: 4px;
    border: 0 solid transparent;
    padding: 10px 32px;
}
/* ==============SECTION PROPERTIES=============== */
.properties  .properties-title{
    margin-top: 0;
    margin-bottom: 10px;
}
.properties  .properties-text{
    margin-top: 0;
    margin-bottom: 0;
}
.properties-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
}
.properties-text{
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: var(--secod-color);
}
/* ================SECTION WORK=================== */
.work{
    padding-bottom: 94px;
}
/* ===============SECTION TEAM==================== */
.team{
    background-color: var(--section-background);
}
.team .container{
    padding: 94px 0;
}
.team-item{
    background-color: var(--white-color);
}
.team-title{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.18;
}
.team-text{
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.18;
    color: var(--secod-color);
}
/* ==================FOOTER===================== */
.footer .container{
    padding: 60px 0;
}
.footer{
    color: var(--white-color);
    background-color: var(--footer-background);
}
.addres-list .link{
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--secod-color);
    line-height: 1.71;
    font-style: normal;
}
.addres-list .akcent{
    color: var(--white-color);
}
/* ===================PORTFOLIO==================== */
/* ===================BATTONS FILTER================ */
.button-list{
    margin-bottom: 50px;
}
.portfolio-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    display: inline-block;
    padding: 6px 22px;
    background-color: var(--section-background);
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--white-color) ;
    background-color: var(--akcent-color);
}
/* ===================CARD=========================== */
.card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secod-color);
}
